div .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 70px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-family: "Recursive", sans-serif;
  box-sizing: border-box;
  padding-bottom: 4px;
}
div .footer h2 {
  margin-top: 8px;
}

.footer .icons-list {
  display: flex;
  padding-top: 4px;
}

.grade-message {
  width: 120px;
  display: flex;
  padding-top: 20px;
  padding-left: 100px;
  justify-content: space-around;
}
div .grade-message img {
  padding-right: 12px;
}
div > .final-message {
  width: 220px;
  text-align: center;
  line-height: 20px;
  margin-bottom: 10px;
}

.final-message-container {
  display: flex;
  flex-direction: column;
}
