.splash-screen {
  display: flex;
  flex-direction: column;
  margin-top: calc(40vh - 160px);
  align-items: center;
  justify-content: center;
}

.splash-screen img {
  width: 136px;
  height: 160px;
  margin-bottom: 22px;
}

.splash-screen .iniciate-button {
  width: 246px;
  height: 54px;
  background-color: #ffffff;
  border: 1px solid #d70900;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Recursive", sans-serif;
  font-size: 18px;
  color: #d70900;
  margin-top: 30px;
  cursor: pointer;
}
